.dateSelectTitle {
    color: orangered;
    text-shadow: 0px 3px 5px rgb(0, 0, 0), 0px 2px 1px rgb(255, 255, 255);
}
.timeSlot{
    height: 4.8rem;
    background-color: white;
    border-radius: 10px;
    
}
.timeSlot:hover{
    background-color: orangered;
}
.timeSlot:click{
    background-color: black;
}
.time{
    text-shadow: 0px 2px 1px black,0px 2px 2px rgb(63, 61, 61);
}