body {
  background-color: black;
  margin: 0px;
  padding: 0px;
}

.navbar {
  background-color: black;
}

/* signup---start */
.selectBar {
  border: 2px solid rgb(7, 7, 6);
  border-radius: 4%;
  padding: 10px;
  background: linear-gradient(to bottom, #ff4500 0%, #000000 100%);
  height: 15rem;
}

.signupTitleBar {
  text-decoration: none;
  text-shadow: 0px 2px 10px black;
}

.FormContainer {
  position: absolute;
  top: 140px;
}

.submitBtn {
  background-color: orangered;
  color: white;
  font-weight: 500;
  text-shadow: 0px 2px 10px black;
  margin-top: 2rem;
}

.submitBtn:hover {
  background-color: rgb(209, 64, 11);
}

.signupTitleBar:hover {
  transform: scale(1.2);
  transition: 0.5s;
}

@media only screen and (max-width: 576px) {
  .selectBar {
    height: 5rem;
  }
}

@media only screen and (max-width: 269px) {
  .FormContainer {
    top: 260px;
  }

}

/* signup---end*/

/* services---start */
.services {
  font-family: 'Roboto Mono', monospace;
}

@keyframes borderLine {
  from {
    width: 28%;
  }

  to {
    width: 90%;
  }
}

.servicesTitle {
  border-bottom: 2px solid orangered;
  width: 90%;
  padding-bottom: 1rem;
  animation-name: borderLine;
  animation-duration: 2s;
}

@keyframes imageFade {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 100%;
    transform: translateX(0);
  }
}

.serImgCol {
  animation-name: imageFade;
  animation-duration: 4s;
}

.serImgCol:hover {
  transform: scale(1.1);
  transition: 0.8s;
  cursor: pointer;
}

/* services---end */
/* Book service---start */
.dropdown-item:hover {
  color: black !important;
}

.dropBtn {
  background-color: rgba(255, 68, 0, 0.686);
}

.dropBtn:hover {
  background-color: orangered;
}



.profCardBtn {
  background-color: orangered;
  color: white;
  text-shadow: 0px 2px 10px black;
  font-weight: 600;
}


.profCardBtn:hover {
  color: white;
  background-color: rgba(255, 0, 0, 0.86);
}

.locations {
  cursor: pointer;
}

.locationImage {
  border: 1px solid orangered;
  box-shadow: 0px 3px 20px orangered;
  height: 10rem;
}

@media only screen and (max-width:992px) {
  .profCard {
    width: 36rem !important;
  }

}

@media only screen and (max-width:576px) {
  .locationImage {
    width: 20rem;
  }

}

@media only screen and (max-width:350px) {
  .locationImage {
    width: 17rem;
  }

  .modalClose {
    left: 100%;
  }
}

.modalClose {
  position: relative;
  left: 100%;
  cursor: pointer;
}

/* Book service---end */