form{
    border: 2px solid orangered;
    padding: 0 4rem 3rem 4rem;
    border-radius: 4%;
    box-shadow: 0 2px 30px orangered;
    background-color: black
}
.formTitle{
    text-shadow: 0px 2px 10px orangered;
}
@media only screen and (max-width: 992px) {
    form{
        padding: 3px;
    }
}
@media only screen and (max-width: 500px) {
    form{
        border-radius: 3px;
    }
}