.introContainer {

    background-image:
        linear-gradient(rgba(0, 0, 0, 0.682), rgba(0, 0, 0, 0.687)),
        url('../../../public/home\ solutions\ bg.jpg');
    background-size: cover;

}

.space {
    height: 10rem;
}

.searchInp {
    width: 55vw;
    border-radius: 10px 0px 0px 10px;
    border: none;
    outline: none;
    padding: 3px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
}

.searchInp:hover {
    border: none;
}

.searchInpCol {
    display: flex;
    justify-content: end;
}

.searchBtn {
    border: none;
    border-radius: 0px 10px 10px 0px;
    width: 3rem;
}

@keyframes hold {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 75%;
    }
}

.formLabel {
    animation: hold 4s;
}

@keyframes fade {
    from {
        opacity: -100%;
        transform: translateY(-20px);
    }

    to {
        opacity: 100%;
        transform: translateY(0);
    }
}



.tagline {
    color: rgb(255, 255, 255);
    text-shadow: 0px 3px 5px rgb(0, 0, 0), 0px 2px 6px orangered;
    animation: fade 3s;
}

@keyframes slide {
    0% {
        opacity: 0%;
        transform: translatex(-50px);
    }

    100% {
        opacity: 100%;
        transform: translateY(0);
    }
}


.introIconCol {
    animation: slide 4s;
}

.introIconCol:hover {
    transform: scale(1.1);
    transition: 0.6s;
}

.introIconTitle {
    text-shadow: -2px 2px 15px black;
    font-weight: 500;
}

.card {
    box-shadow: 0px 2px 15px rgb(58, 57, 57);
    width: 15rem;
    background-color: rgba(0, 0, 0, 0.548);
}

.card:hover {
    transform: scale(1.1);
    transition: 0.6s;
}

.cardBtn {
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 230px;
    height: 30px;
    background-color: orangered;
    font-weight: 500;
    color: white;
    text-shadow: 3px 2px 5px black;
}

.cardBtn:hover {
    background-color: rgb(205, 61, 9);
}

.introIconCol {
    background-color: rgba(0, 0, 0, 0.055);
}

@media only screen and (max-width: 1050px) {
    .cardBtn {
        width: 96%;
    }
}

@media only screen and (max-width: 576px) {
    .card {
        width: 25rem;
    }

    .cardBtn {
        left: 0;
        bottom: 0.5px;
        width: 100%;
        height: 30px;
    }

    #form1 {
        width: 20rem;
    }

    .searchInp {
        width: 80vw;
    }

    .searchBtn {
        width: 2rem;
    }
}